<div class="col-md-4">
    <div class="card border d-flex m-b-20">
      <div class="card-header border-bottom">
              <h3 class="card-title" style="margin: 0px auto; " class="text-primary">Referred and earn</h3>
              
          </div>
          <div class="card-body border-0 border" style="text-align: center">
            Refer a friend and get 5% of extra credit amount  upto Rs.5000 on minimum recharge by referred user amount of Rs.1000                                                                             <p><b>Start Date:</b> 2020-07-01 <b>End Date:</b> 2020-12-31</p>
               <p style="text-align:center;">Coupon Code: <b>MsnqUTFi8</b></p>
          </div>
   </div>
</div>

