<div class="tab-pane active show" id="tab7">
    <div class="row my-2 " style="padding: 5px 10px 0px;">
<div class="offset-md-1 col-md-4">
<div class="card border d-flex m-b-20">
<div class="card-header border-bottom">
<h3 class="card-title" style="margin: 0px auto;" class="text-primary" >Reward Amount</h3>

</div>
<div class="card-body border-0 border">
<p style="font-weight: bold;text-align:center;">Rs.1</p>
</div>
</div>
</div>
<div class="offset-md-1 col-md-4">
<div class="card border d-flex m-b-20">
<div class="card-header border-bottom">
<h3 class="card-title" style="margin: 0px auto;"class="text-primary" >Subscription Discount</h3>
<div class="card-options">

</div>
</div>
<div class="card-body border-0 text-center">
<p style="font-weight: bold;text-align:center;">Rs.0</p>
</div>
</div>
</div>

</div>
<div class=" "><span  class="alert-inner--icon"><i class="text-color-custom" style="font-size: 24px;" class="fas fa-thumbs-up text-color-custom"></i> </span>&nbsp;<span class="text-white"><b class="text-color-custom">Reward History</b></span></div>
<div class="row mt-2  " style="padding: 5px 10px 0px;">
<div class="col-md-12">
<table class="table table-bordered">
<thead>
<tr>
<th>SrNo</th>
<th>Coupon/Referral code</th>
<th>Credit Note</th>
<th>Reward Amount</th>
<th>Subscription Discount</th>
<th>Increase Validity</th>
<th>Description</th>
<th>Actions</th>
</tr>
</thead>
<tbody>
                                   <tr>
<td>1</td>
<td>test10</td>
<td>Credit Note#20202111051276149</td>

<td>1.00</td>
<td>0%</td>
<td>0 Days</td>
<td>Rs 1.00 has been credited on wallet recharge of Rs.100.00 </td>
<td style="text-align: center;">
Success 
</td>
</tr>
                               </tbody>
</table>
</div>
</div>


</div>
